body {
    margin: 0 auto;
}

.main-head {
    width: 100%;
}

.header-container {
    display: flex;
    width: 1170px;
    height: 65px;
    justify-content: space-between;
    margin: 0 auto;
}

.header-item-left {
    display: flex;
    width: 360px;
    height: 65px;
}

.header-item {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Young serif;
    color: #1B3A32;
}

.item-buy-button {
    color: #1B3A32;
    border-color: #1B3A32;
    background: transparent;
    font-family: Young serif;
    border: 1px solid #1B3A32;
    border-radius: 4px;
    width: 130px;
    height: 30px;
}

.header-homepage-block {
    width: 1170px;
    margin: 0 auto;
}

.header-item-right {
    display: flex;
    width: 360px;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.carousel__text{
    font-size: 3.1rem;
    line-height: 1;
    font-family: Young serif;
    position: absolute;
    left: 0px;
    bottom: 40px;
}
.carousel-caption{
    position: relative;
}
.carousel__title{
    position: absolute;
    left: 0px;
    bottom: 170px;
    font-family: Young serif;
}
.main-search {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-search {
    width: 1170px;
    height: 800px;
    background-image: url("./background1.png");
    background-size: 1170px 650px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0 auto;
}
.search-module{
    margin-top: 70px;
}
.search-module-typography{
    width: 600px;
    height: 200px;
    margin: 0 auto;
    text-align: center;

}
.search-module-typography-title{
    color: rgb(27, 58, 50);
    font-family: Young serif;
    font-size: 32px;
}
.search-module-typography-input{
    width: 600px;
    height: 100px;
}
.search-module-typography-input-text{
    border: none;
    box-sizing: content-box;
    background: none;
    font-family: Young serif;
    width: 600px;
    height: 100px;
    font-size: 62px;
}
.search-module-typography-input-text::placeholder{
    color: rgba(0, 0, 0, 0.15);
}
.prod-module{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0 auto;
    margin-top: 80px;
}
.module-item{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-block{
    width: 200px;
    height: 75px;
}
.img-prod{
    width: 200px;
    height: 60px;
}
.module-item__title{
    height: 60px;
    display: flex;
    align-items: center;
    font-family: Young serif;
    color: rgb(27, 58, 50);
    text-decoration: none;
}
.item-button{
    width: 110px;
    height: 40px;
    background: rgb(26, 60, 52);
    color: rgb(232, 230, 223);
    border-radius: 4px;
    border:none;
}
.item-button__text{
    color: rgb(232, 230, 223);
    text-decoration: none;
}

.container-home{
    width: 100%;
}
.carousel-indicators{
    width: 185px;
    right: 40px !important;
}

.container-treats{
    width: 1170px;
    margin: 0 auto;
}
.naming-picture-img{
    width: 460px;
    height: 250px;
}

.block-naming{
    display: flex;
    justify-content: space-between;
}
.naming-typography{
    width: 400px;
    height: 250px;
}
.naming-typography__title{
    font-family: Young serif;
    color: #1B3A32;
    font-size: 18px;
}
.naming-typography__text{
    font-family: Young serif;
    font-size: 62px;
    font-weight: 400;
    color: #1B3A32;
}
.block-news{
    width: 1170px;
    height: 450px;
    display: flex;
    justify-content: space-between;
}
.news-item{
    width: 280px;
    height: 410px;
    border-radius: 4px;
}
.news-item-picture-img{
    width: 280px;
    height: 340px;
    border-radius: 4px 4px 0px 0px;
}
.news-item-typography{
    width: 280px;
    height: 70px;
    background-color: rgb(22, 109, 183);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
}
.news-item-typography__title{
    font-family: Young serif;
    font-size: 24px;
    color: white;
}
.news-item-typography__subtitle{
    font-family: Young serif;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}