body {
    margin: 0 auto;
}

.main-head {
    width: 100%;
    position: relative;
}

.container-home{
    width: 100%;
}
.header-homepage-block{
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.header-container {
    display: flex;
    width: 1170px;
    height: 65px;
    justify-content: space-between;
    margin: 0 auto;
   
}

.header-item-left {
    display: flex;
    width: 360px;
    height: 65px;
    justify-content: center;
}

.header-item {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Young serif;
    color: #1B3A32;
}
.header-item-center{
    width: 145px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-item-adaptive{
    display: none;
    width: 24px;
    color: #1B3A32;
}
.item-buy-button {
    color: #1B3A32;
    border-color: #1B3A32;
    background: transparent;
    font-family: Young serif;
    border: 1px solid #1B3A32;
    border-radius: 4px;
    width: 130px;
    height: 30px;
}

.header-homepage-block {
    margin: 0 auto;
}

.header-item-right {
    display: flex;
    width: 360px;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.carousel__text{
    font-size: 3.1rem;
    line-height: 1;
    font-family: Young serif;
    position: absolute;
    left: 0px;
    bottom: 40px;
}
.carousel-caption{
    position: relative;
}
.carousel__title{
    position: absolute;
    left: 0px;
    bottom: 170px;
    font-family: Young serif;
}

.carousel-indicators{
    width: 185px;
    right: 40px !important;
}

@media (max-width: 1200px) {
    .header-item-left {
        width: 60px;
    }
    .header-item {
        display: none;
    }
    .header-item-adaptive{
        display: flex;
    }
    .header-item-right {
        width: 60px;
    }
    .header-container {
        width: 800px;
    }
}